/* .logout-div{
    border: 3px solid #0c0c0c;
    width: 40%;
    height: 400px;
    margin: auto;
    margin-top: 9%;
    box-shadow: 1px 1px 5px 1px #131212; 
    padding-bottom: 20%;
    
}

.texto-logout{
    margin-left: 5%;
    margin-bottom: 20%!important;
    margin: auto;
    width: 500px;
}
.texto-logout h3{
    color:  #757575;
    font-weight: bold;
    
}
.texto-logout h6{
    color: #9E9E9E;
    font-size: 1.4em;
    margin-bottom: 80px;
  
}


 .logoutImg{
    width: 200px;
} 

.btn-login{
    color: #1d1b1b;
    border: 1px solid #0a0a0a;
    background-color: #1f1d1e;
    padding: 10px;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 5px;
    margin: 35%;
}
.btn-login:hover{
    text-decoration: none;
    color: #FFFFFF;
    background-color: #1a1818;
} */
