img{
	width: 100%;
	/* margin-top: 30px; */
}

h1{
	/* font-size: 100pt; */
}

.tituloBanner2{
	font-size: 150pt;
	font-family: 'Amatic SC', cursive;
	position: absolute;
	left: 400px;
	top: 1300px;
	color: rgb(255, 255, 255);
}

.tituloBanner3{
	font-size: 150pt;
	font-family: 'Amatic SC', cursive;
	position: absolute;
	left: 300px;
	top: 1950px;
	color: rgb(255, 255, 255);
}

.divBanner{ 
	display: inline-block;
	position: relative;	
}

.fontQuemSomos{
	text-align: justify;
	padding: 80px;
	font-family: 'Bubbler One', sans-serif;
	font-size: 20pt;
	float: right;
}

.ftQuemSomos1{
	width: 350px;
	padding-top: 80px;
	padding-left: 10px;
}

.circle:hover
{
        border-radius:7%;
}