div.styleTable{
    background-color: #f3f3f3;
    border: 2px solid rgb(247, 243, 243);
    box-shadow: 3px 3px 3px #e2dfdf;
    height: 550px; 
}


table tbody, table thead
{
    display: block;
    margin: 10px 350px;
    width: 50%;
}

table tbody 
{
   overflow: auto;
   height: 350px; /* tamanho tabela(altura) */
   width: 50%; /* tamanho tabela(largura) */
}

table {
    /* width: 50%; */
    /* padding-bottom: 10px; */
}

th  /*cabeçalho(titulos) */
{
    width: 39%;
}

td /*colunas abaixo do cabeçaçho(tabela) */
{
    width: 45%;
} 

